# Slack 웹훅 URL (Job 실패 시 알림용)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

# 데이터베이스 설정
DB_USERNAME=dsflow
DB_PASSWORD=password
DB_NAME=dsflow

# 기타 설정
SPRING_PROFILES_ACTIVE=prod 